#image-container {
    /* margin: 0 auto; */
    /* column-count: 3; */
}


#image-container img {
    /* max-height: 240px; */
}

#image-container>.grid-item {
    height: 300px;
    min-width: 100px;
    display: block;
    float: left;
    list-style: none;
    margin: 0 5px 5px 0;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
}

#image-container>div img {
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

#image-container>div.is-loading {
    background-color: black;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/loading.gif');
}


#image-container>li.is-loading img {
    opacity: 0;
}