@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('./loader.css');
@import url("./imagesLoader.css");


:root {
    --color1: #18CFAB;
    --color2: #1C2A33;
    --color3: #00CBF6;
    --color4: #E9EDEF;
    --dark: #4E4E4E;
    --white: #FFFFFF;
    --footer: #22353F;
    --header: #5E5D58;
    --newsTitle: #717171;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    position: relative;

}

.hero-wrap {
    min-height: 100vh;
    background: url(../img/Sections_background/section-1\(header\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.nav-container {
    background: rgba(94, 93, 88, 0.6);
    /* padding-top: 25px;
    padding-bottom: 25px; */
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
}

.logo-wrap {
    position: relative;
}

.logo-letter {
    position: absolute;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: var(--white);

}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 20px solid var(--color1);
}

.rectangle {
    height: 40px;
    width: 70px;
    background-color: var(--color1);
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 20px solid var(--color1);
}

.logo-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: var(--white);
}

.logo-span {
    color: var(--color1);
    font-weight: 700;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-list {
    display: flex;
    position: relative;
    gap: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.nav-link {
    display: flex;
    /* box-sizing: border-box; */
    align-items: center;
    height: 117px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.nav-link:hover {
    color: var(--color1);
    border-bottom: 3px solid var(--color1);
}

.nav-item {
    height: 120px;
}

.search-btn {
    display: block;
    width: 24px;
    height: 24px;
}

.search-btn:hover #search path {
    fill: var(--color1);
}


.hero-content {
    height: calc(100vh - 130px);
    min-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: var(--white);
}

.hero-title>span {
    color: var(--color1);
}

.hero-subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: var(--white);
}

.hero-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    color: var(--color4);
}

.hero-btn-wrap {
    margin-top: 110px;
    display: flex;
    gap: 25px;
}

.btn-decorate {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: var(--white);
    border-top: 3px solid var(--white);
    border-radius: 4px;
}

.hero-btn-explore {
    background: var(--color1);
    padding: 15px;
}

.hero-btn-purchase {
    background: var(--color3);
    padding: 15px 11px;
}

.features {
    margin: auto;
    max-width: 100vw;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 370px;
}

.features-item {
    border-top: 5px solid var(--white);
    border-bottom: 5px solid var(--white);
    box-sizing: border-box;
    height: 100%;
    width: calc(100% - 75%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* background: var(--color1); */
}

.features-item:nth-child(odd) {
    background-color: var(--color2);
    color: var(--color1);
}

.features-item:nth-child(even) {
    background-color: var(--color1);
    color: var(--white);
}

.feature-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.services-wrap {
    display: flex;
    flex-direction: column;
}

.title {
    position: relative;
    margin: 100px auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: var(--dark);
}

.title::before {
    content: "";
    position: absolute;
    background: var(--color1);
    height: 1px;
    width: 75px;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
}

.title::after {
    content: "";
    position: absolute;
    background: var(--color1);
    height: 2px;
    width: 75px;
    bottom: -25px;
    left: 45%;
    transform: translateX(-50%);
}

.services-nav {
    display: flex;
    justify-content: center;
    text-align: center;
}


.services-btn:hover {
    border: 2px solid var(--color1);
}

.services-btn {
    position: relative;
    box-sizing: border-box;
    width: calc(1160px / 6);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #F2F2F2;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
}

.nav-services-active {
    background: var(--color1);
    color: var(--white);
}

.nav-services-active::after {
    bottom: 0;
    transform: translateY(100%);
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--color1);
}

.services-description-wrap {
    display: none;
}

.services-active {
    display: flex;
    margin-top: 25px;
    margin-bottom: 90px;
    gap: 25px;
}

.services-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
}

.purchase {
    height: 475px;
    background: url(../img/Sections_background/section-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.purchase-background {
    height: 475px;
    background: rgba(0, 0, 0, 0.8);
}

.purchase-wrap {
    display: flex;
    height: 475px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase-title {
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--color1);
}

.purchase-decription {
    margin-bottom: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.purchase-btn {
    background: var(--color1);
    padding: 15px;
}

.work {
    background-color: #E9EDEF;
}

.work-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.work-nav-btn {
    padding: 15px;
    text-decoration: none;
    border: 1px solid #DADADA;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
}

.work-nav-btn:first-child {
    padding: 15px 25px;
}


.work-nav-active {
    border: 2px solid var(--color1);
    color: var(--color1);
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    min-height: 615px;
}

.work-item {
    height: 205px;
    width: 280px;
}

.work-item:hover .work-item-info {
    display: flex;
}

.work-item:hover .work-item-img {
    display: none;
}

.work-item-info {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--color1);
}

.info-icon-wrap {
    display: flex;
    gap: 5px;
    margin-bottom: 25px;
}

.info-icon-left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--color1);
    border-radius: 50%;
}

.info-icon-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: var(--color1);
    border-radius: 50%;
}

.info-icon-square {
    width: 12px;
    height: 12px;
    background: var(--white);
}

.info-title {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    color: var(--color1);
}

.info-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}

.work-item-img {
    width: 280px;
    height: 205px;
}



.middle {
    display: none;
}

.loader-active {
    display: block;
}


.btn-wrap {
    position: relative;
}

.load-btn {
    display: flex;
    opacity: 0;
    width: 130px;
    align-items: center;
    gap: 15px;
    margin: 0 auto 100px;
    padding: 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: var(--white);
    background-color: var(--color1);
}

.active-btn {
    opacity: 1;
}


.news-wrap {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 50px;
    text-align: center;
    align-items: center;
    margin-bottom: 130px;
}

.news-item {
    position: relative;
}

.news-item-wrap {
    display: block;
    text-decoration: none;
}

.news-item-wrap:hover>.date {
    background-color: var(--color1);
}

.news-item-wrap:hover>.news-title {
    color: var(--color1);
}

.date {
    position: absolute;
    width: 70px;
    height: 70px;
    right: 0;
    background: #203E38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.news-title {
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: var(--newsTitle);
}

.news-info-wrap {
    margin-top: 10px;
}

.news-ifno {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}



.news-ifno:first-child {
    position: relative;
    padding-right: 30px;
}


.news-ifno:first-child::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background-color: #777777;
}

.about {
    background: url(../img/Sections_background/section-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.about-container {
    background: rgba(4, 4, 19, 0.7);
}

.white {
    color: var(--white);
}

.about-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.figure {
    margin: 50px auto;
    position: relative;

}

.figure::before {
    content: "\201C";
    position: absolute;
    font-size: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
    color: var(--color1);

}

.blockquote-wrap {
    display: none;
}

.blockquote-active {
    display: block;
    transition: opacity 0.25s ease-in-out;
}

.quote-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.figcaption {
    margin-top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
}

.figcaption>span {
    text-transform: uppercase;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: var(--color1);
}


.about-pic {
    border: 7px solid #203E3870;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 60px;
    transition: opacity 0.25s ease-in-out;
}

.about-pic.fade-out {
    opacity: 0;
}

.about-pic.fade-in {
    opacity: 1;
}

.about-carusel {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.carusel-list {
    display: flex;
    gap: 30px;
    margin: auto 30px;
    position: relative;
}

.carusel-item {
    position: relative;
    width: 60px;
    height: 60px;
}

.pic-active {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.5s ease-in-out;
    transform: translateY(-15px);
}

.arrow {
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    border: 1px solid var(--color4);
    position: relative;
}

.arrow:hover {
    background: var(--color1);
    border: 1px solid var(--color1);
}

.arrow-left::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 40%;
    border: solid var(--color4);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow-right::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 32%;
    border: solid var(--color4);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.pic-decorate {
    border: 3px solid #203E3870;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.5s ease;
}



.gallery-wrap {
    display: flex;
    flex-direction: column;
}

.grid {
    margin-bottom: 50px;
}


.gallery-btn {
    display: block;
    opacity: 0;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 120px;
    background: var(--footer);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.copyright-highlight {
    color: var(--color1);
}